{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>About Me</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Sankalpa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="aboutme/aboutme">About Me</a>
      </li>
    </ul>
      <div class="md-x-2">
          <a href="https://www.facebook.com/Sankhalifa.33/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Facebook</a>
          <a href="https://www.youtube.com/channel/UCaFCokjzNa0QLTQ8ZAOyU_g?view_as=subscriber" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">YouTube</a>
      </div>
  </div>
</nav>
<div class="container my-4">
    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading">Introduction <span class="text-muted"></span></h2>
        <p class="lead">My name is Sankalpa Neupane. I live in Damauli Tanahun.I'm a Student.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'mysite/images/sankalpa3.jpg' %}" width="450" height="450">
      </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Education<span class="text-muted"></span></h2>
        <p class="lead">Passed SLC from Satyawati School,Damauli. Passed class 12 from Notre Dame science College,Bandipur.I'm currently studying at Pokhara engineering College,Pokhara.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'mysite/images/pec.jpg' %}" width="450" height="450">
      </div>
    </div>

    <div class="row featurette d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <h2 class="featurette-heading">Interests<span class="text-muted"></span></h2>
        <p class="lead">Playing Football. Travelling and I love to swim</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'mysite/images/swimming.jpg' %}" width="450" height="450">
      </div>
    </div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>